.nice {
    font-family: sans-serif;
}
h1 {
    color:indigo;
}
h3 {
    color:rgb(196, 167, 3);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
